<ion-tabs>
  <div class="fab-container">
    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button style="margin-top: -45px; position: absolute">
        <ion-img src="../assets/icons/motorcycle.svg"></ion-img>
      </ion-fab-button>
    </ion-fab>
  </div>


  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="tab-home">
      <ion-img src="../assets/icons/home.svg"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="tab-chart" class="comments">
      <ion-img src="../assets/icons/chart.svg"></ion-img>
    </ion-tab-button>

    <div style="background: white">
      <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
      </svg>
    </div>

    <ion-tab-button tab="tab-calendar" class="notifs">
      <ion-img src="../assets/icons/calendar.svg"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="tab-notifications">
      <ion-img src="../assets/icons/notifications.svg"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
