ion-content {
  background-color: var(--ion-color-secondary);
  --background: transparent;
  --ion-background-color: transparent;
}

ion-content::part(scroll-content) {
  background-color: var(--ion-color-secondary);
}

.green-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 390px;
  background-color: var(--ion-color-primary);
  border-radius: 100% 0% 100% 0% / 0% 38% 62% 100%;
  z-index: 1;
}

.grid-container {
  position: relative;
  z-index: 2;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.description {
  font-size: 15px;
}

.upper-block {
  padding: 10px 25px 10px 25px;

  .main-title-upper-block {
    //margin-bottom: 20px;
    text-align: center;
    color: white;
  }

  .goals-day {
    background: white;
    border: 2px solid var(--ion-color-primary);
    border-radius: 20px;
    padding: 10px 25px 25px;
  }

  .primary-color {
    color: var(--ion-color-primary);
    font-weight: bold;
  }

  .secondary-color {
    color: #999999;
    font-weight: bold;
  }
}

.lower-block {
  padding: 10px 10px 10px 10px;

  .main-title-lower-block {
    padding: 0 20px;
  }

  .swiper-slide {
    margin-top: -10px;
  }
}

