<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="green-container"></div>
  <div class="grid-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="12">
          <div class="block">
            <div class="upper-block">
              <div class="main-title-upper-block">
                <p>Cobranza y Crédito Móvil</p>
              </div>

              <div class="goals-day">
                <p class="title">Mi objetivo del día</p>
                <p class="description">Éstos son tus objetivos del día, cumplirlos te acerca a tus sueños</p>

                <p class="subtitle description">
                  Llevo <span class="primary-color">{{valueRange1}}</span>/<span class="secondary-color">{{maxValueRange1}}</span> investigaciones
                </p>
                <app-range-bar [min]="0" [max]="maxValueRange1" [value]="valueRange1"></app-range-bar>

                <p class="subtitle description">
                  He cobrado <span class="primary-color">{{currencyRange2}}{{valueRange2}}</span> de <span
                  class="secondary-color">{{currencyRange2}}{{maxValueRange2}}</span>
                </p>
                <app-range-bar [min]="0" [max]="4000" [value]="500"></app-range-bar>
              </div>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" size-md="12">
          <div class="block">
            <div class="lower-block">
              <div class="main-title-lower-block">
                <p class="title">Recordatorios</p>
              </div>
              <ion-slides [options]="slideOptions" style="width: 100%;">
                <ion-slide *ngFor="let card of cards; let i = index">
                  <app-card [type]="card.title" [user]="card.description" [time]="card.hour"></app-card>
                </ion-slide>
              </ion-slides>
            </div>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>



