<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="green-container"></div>

    <div class="overlay-container">
      <div class="block upper-block">
        <div class="main-title-upper-block">
          <p>Cobranza y Crédito Móvil</p>
        </div>

        <div class="goals-day">
          <p class="title">Mi objetivo del día</p>
          <p class="description">Éstos son tus objetivos del día, cumplirlos te acerca a tus sueños</p>

          <p class="subtitle description">
            Llevo <span class="primary-color">1</span>/<span class="secondary-color">2</span> investigaciones
          </p>
          <app-range-bar [min]="0" [max]="2" [value]="1"></app-range-bar>

          <p class="subtitle description">
            He cobrado <span class="primary-color">$500.00</span> de <span class="secondary-color">$4,000.00</span>
          </p>
          <app-range-bar [min]="0" [max]="4000" [value]="500"></app-range-bar>
        </div>
      </div>

      <div class="block middle-block">
        <div class="main-title-lower-block">
          <p class="title">Recordatorios</p>
        </div>
        <ion-slides [options]="slideOptions">
          <ion-slide *ngFor="let card of cards; let i = index">
            <app-card [type]="card.title" [user]="card.description" [time]="card.hour" ></app-card>
          </ion-slide>
        </ion-slides>
      </div>

      <div class="block lower-block">
        <div class="container-lower-block"></div>
      </div>
    </div>
  </div>
</ion-content>


